/* secondary color:#479789 */
.App{
  background-color: #F5BE99;
  height:100vh;
  
  }
  .menu{
      /* border:1px solid blue; */
     padding-top: 2%;
    
  }
  .link{
      color:#479789;
      font-size:1em;
     text-transform: capitalize;
      text-decoration: none;  
  /* border:2px solid purple;   */
  }
  
  a.glow, a.glow:hover, a.glow:focus
  {
    text-decoration: none;
    
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
  }
  
  a.glow:hover, a.glow:focus
  {
    color: #fff;
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  
  }
  
  h3{
      color:#479789;  
  }
  
  
  .title{ 
      /* border:2px solid red; */
      padding-left: 5%;
      /* font-family: 'Black Jack'; */
      font-family: 'Brush Script Mt';
      text-transform: capitalize;
      font-size:1.5em;
      border-bottom: 1px solid #479789;
      height:10%;
  }
  
  .log{
      margin-left: 70%;
        margin-right: 3%;
     
  }
  
  
  .form-body{
      border: 1px solid blue;
      width: 50%;
      margin:auto;
  }
  
  .todo-list {
    /* #e8e8e8 */
      background:#479789 ; 
      border-radius: 4px;
      max-width: 400px;
      padding: 5px;
      margin: 0 auto;
      margin-top:5%;
      border:4px dotted white;
     
      
    }
    
    .todo {
      align-items: center;
      background: #fff;
      border-radius: 3px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
      display: flex;
      font-size: 12px;
      justify-content: space-between;
      margin-bottom: 6px;
      padding: 3% 5%;
      
    }

    .btn-post{
      margin-left:75% ;
      margin-top: 8%;
    
    }

    .post-title{
      color:white;
    }

    .heart-shape{
      font-size:2em;
    }
    .trash-can{
      font-size:2em;
    }
    .trash-can:hover{
      color:orange; 
    }
    .plus-symbol{
      margin-left:90%;
      color:white;
      font-size: 2em;
    }

    .plus-symbol:hover{
      color:orange; 
    }

    .text-area{
      width:80%;
      height:90%;
      border:2px solid red;
    }

    .form{
      border:2px solid purple;
    }

    .control-div{
      border:2px solid blue;
      height:50%;
    }
  
  